[data-testid="stSidebar"] {
    background-image: url(https://prima-mail-backup.s3.us-east-2.amazonaws.com/all-prima-logo.png);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 0px 20px;
    background-position-x: center;
}

[data-testid="stSidebarNavItems"] {
    max-height: 100vh;
}

section[data-testid="stSidebar"].css-ng1t4o {
    width: 30rem;
}

p.paragraph {
    font-family: monospace; 
    color:gray; 
    font-size: 11px
}

p.item {
    font-family: monospace;
    color:gray;
    font-size: 12px;
    text-align: right;
    margin: 0;
    height: 100%;
}

div[data-testid="stImage"] {
    display:flex;
    justify-content: center;
    align-items:center;
    text-align:center;
    height:auto;
    width:100%
}
div[data-testid="stImage"] img {
    width:100%;
    padding-left:15%;
    padding-right:15%;
}

/* Aquí están las subpáginas, porque de otra forma no las puedo acomodar */
a[href$="Geo_Finder"] {
    padding-left: 12%;
}
